.section2{
	height: 800px;
 padding: 128px 0;
}
.section2_container{
   flex-direction: column;
   height: 100%;
   gap: 30%;
   position: relative;
   align-items: flex-start !important;
}
.section2_title{
	max-width: 45rem; 
}

.sub_txt{

}

.sub_txt_title{
	font-size: ;
}
.hand{
   position: absolute;
  bottom: -293px;
   height: 659px;
   right: -.8rem;
   width: 383px;
}
.hand img{
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
}
.hand:after{
   position: absolute;
   content: '';
   z-index: 5;
   width: 100%;
   height: 100%;
   background: linear-gradient(180deg, transparent,rgba(255,255,250, 1.0));
   bottom: 0;
   right: 0;
}
/*   MEDIAQUERIES*/

@media (max-width:880px){
   .section2_container{
      gap: 0;
}

   .section2_title{
   max-width: 30rem; 
}
.hand{

   position: relative;
   top: 0;
   width: 100%;
}
   
}
