 





.card_container{
	gap: 20px;
	place-items: center;
	text-align: center;
}
 .card{
 	width: 100%;
 	height: 22rem;
 	background: var(--dim_bg);
 	border-radius: 2rem;
 }
 .card_info{
 	padding-block: 2rem;
 }